In [1]:
print("Hello World")

Hello World

In [2]:
print("*")

*

In [3]:
print("*")
print("**")
print("***")
print("****")
print("*****")

*
**
***
****
*****

In [4]:
print("*")
print("*"*2)
print("*"*3)
print("*"*4)
print("*"*5)

*
**
***
****
*****

In [7]:
var1 = "Deepak"
print(var1)

Deepak

In [8]:
var2 = 6
print(var2)

6

In [9]:
number = input("What's your favourite number? ")
print(number)

What's your favourite number?  Deepak

Deepak

In [10]:
#Let's try taking adding a string to the answer received
name = input("Enter your name : ")
print("Welcome", name)

Enter your name :  Deepak

Welcome Deepak

In [11]:
age = input("Enter your age : ")
print("You are " , age*12 , " months old")

Enter your age :  30

You are  303030303030303030303030  months old

In [12]:
age = input("enter your age ")
age = int(age)
print("You are " , age*12 , " months old")

enter your age  30

You are  360  months old

In [13]:
integer_num = 1
floating_num = 1.3
string = 'Deepak'
boolean = True

print (type(integer_num))
print (type(floating_num))
print (type(string))
print (type(boolean))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [14]:
a=1
print(int(a))
print(type(a))

1
<class 'int'>

In [17]:
a=1
print(int(a))
print(float(a))
print(str(a))
print(bool(a))

1
1.0
1
True

In [18]:
a = 6
b = 7
print("Addition  = ", a + b)  
print("Substraction = ", a - b) 
print("Multiplication = ", a * b) 
print("Division = ", a / b)
print("Floor Division = ", a // b) 
print("Modulus or remainder",a % b) 
print("Exponential = ", a ** b)

Addition  =  13
Substraction =  -1
Multiplication =  42
Division =  0.8571428571428571
Floor Division =  0
Modulus or remainder 6
Exponential =  279936

In [1]:
name = "Deepak"
name_1 = 'Deepak'
print(name, ' ',name_1)

Deepak   Deepak

In [2]:
print('I don't know')

SyntaxError: unterminated string literal (detected at line 1) (2222531152.py, line 1)

In [3]:
print("I don't Know")

I don't Know

In [4]:
print('I don\'t Know')

I don't Know

In [29]:
first_name = input("Enter your first Name?")
Last_name = input("Enter your last Name?")
Full_name = 'Welcome to our Coffee Shop: ' + first_name + ' ' + Last_name

Enter your first Name? Deepak
Enter your last Name? Kumar

In [30]:
print(Full_name)

Welcome to our Coffee Shop: Deepak Kumar

In [31]:
len(Full_name)

40

In [34]:
string = "We may encounter many defeats, but we must not be defeated.â€” Maya Angelou"

In [35]:
len(string)

73

In [36]:
string[0]

'W'

In [37]:
string[-1]

'u'

In [38]:
string[-1] = 'l'

TypeError: 'str' object does not support item assignment

In [39]:
print(string[10])

o

In [40]:
print(string[-11])

a

In [41]:
# Trying to change the character at index 2
string[2] = 't'

TypeError: 'str' object does not support item assignment

In [42]:
string = "Wt may encounter many defeats, but we must not be defeated.â€” Maya Angelou"
print(string)

Wt may encounter many defeats, but we must not be defeated.â€” Maya Angelou

In [45]:
string = "We may encounter many defeats, but we must not be defeated.â€” Maya Angelou"
sliced_string = string[0:21]
print(sliced_string)

We may encounter many

In [46]:
string = "We may encounter many defeats, but we must not be defeated.â€” Maya Angelou"
sliced_string = string[0:21:2]
print(sliced_string)

W a none ay

In [47]:
string = "We may encounter many defeats, but we must not be defeated.â€” Maya Angelou"
sliced_string = string[:21:2]
print(sliced_string)

W a none ay

In [48]:
string = "We may encounter many defeats, but we must not be defeated.â€” Maya Angelou"
sliced_string = string[0::2]
print(sliced_string)

W a none aydfas u ems o edfae. aaAglu

In [51]:
string = "We may encounter many defeats, but we must not be defeated.â€” Maya Angelou"
print('May' in string)
print('new' in string)

True
False

In [52]:
string = "We may encounter many defeats, but we must not be defeated.â€” Maya Angelou"

In [56]:
string.upper()

'WE MAY ENCOUNTER MANY DEFEATS, BUT WE MUST NOT BE DEFEATED.â€” MAYA ANGELOU'

In [57]:
string.lower()

'we may encounter many defeats, but we must not be defeated.â€” maya angelou'

In [59]:
string.title()

'We May Encounter Many Defeats, But We Must Not Be Defeated.â€” Maya Angelou'

In [61]:
string1= '      new data in this      '
string1.strip()

'new data in this'

In [62]:
string1= '      new data in this      '
string1.lstrip()

'new data in this      '

In [63]:
string1= '      new data in this      '
string1.rstrip()

'      new data in this'

In [65]:
string1= '      new data in this      aaaa'
string1.rstrip('a')

'      new data in this      '

In [66]:
num_with_chars = '******444#######'
print(num_with_chars.rstrip('#').lstrip('*'))

444

In [67]:
string = "This is a sample sentence"
print(string.count('i'))
print(string.count('i',5))

2
1

In [68]:
A = "Data"
B = "Analysis"
C = "Pandas"

print("{0} {1} using {2}".format(A,B,C))

Data Analysis using Pandas

In [69]:
string = "Welcome to the practice exercise"
print(string)

Welcome to the practice exercise

In [70]:
string = input("Enter your name")
print(string)

Enter your name Deepak Kumar

Deepak Kumar

In [71]:
print('  1  ')
print(' 234 ')
print('56789')

  1
 234
56789

In [73]:
print('#'*10)

##########

a_print = input("Enter the Date: ")
a_print

In [80]:
a = 1.8
print(str(a))

1.8

In [84]:
a = int(input("Enter the first numbers"))
b = int(input("Enter the second numbers"))
print(a * b)

Enter the first numbers 5
Enter the second numbers 4

20

In [85]:
a = int(input("Enter the first numbers"))
b = int(input("Enter the second numbers"))
print(a % b)

Enter the first numbers 5
Enter the second numbers 4

1

In [86]:
a = 6
b = 4
print(a % b)

2

In [88]:
print("Hello\n\nGood Morning")

Hello

Good Morning

In [89]:
string1= 'Welcome to the'
string2= 'coding practice session.'

print(string1 + ' ' + string2)

Welcome to the coding practice session.

In [90]:
a = "Welcome to the coding practice session."
print(len(a))

39

In [91]:
# Create a string of length 12:
a = "We are venom"

# You can verify the length:
len(a)

# Obtain the fifth letter and store it into a new string:

b = a[4]

# Obtain the seventh letter and store it into a new string:

c = a[5]

# Concatenate the two strings:

c = a + b

# Print the result:
print(c)

We are venomr

In [101]:
a = "We are venom"

In [102]:
len(a)

12

In [103]:
b = a[4]
print(b)

r

In [104]:
c = a[5]
print(c)

e

In [105]:
d = b + c
print(d)

re

In [106]:
# Given below is the string:
line= '     I hope you enjoyed this practice session.'

# Removing extra spaces:
line = line.strip()

# Print the result:
print(line)

# Calculate the length:
print(len(line))

# Slice the string to remove the last 5 characters:
line1 = line[:-5]

# Print the result:
print(line1)

# Print the 15th character of the string:

print(line[15])

# Print the concatenation of first and last character of resulting string:
new = line1[0] + line1[-1]

     I hope you enjoyed this practice session.
     I hope you enjoyed this practice ses

In [107]:
line= '     I hope you enjoyed this practice session.'

In [112]:
line = line.strip()
print(line)

I hope you enjoyed this practice session.

In [113]:
print(len(line))

41

In [114]:
line1 = line[:-5]
print(line1)

I hope you enjoyed this practice ses

In [115]:
print(line[15])

y

In [116]:
new = line1[0] + line1[-1]
print(new)

Is