In [1]:
# Decision Making:  If Statements

In [ ]:
# Relational Operator: == is a relational operator; it is used for comparision of equality.

In [3]:
# == operator, It compares both value and give output in boolean values
10 == 10

True

In [5]:
# != It compares both value and give output in boolean values
10 != 11

True

In [6]:
# != It compares both value and give output in boolean values
10 != 10

False

In [7]:
# >= It compares both value and give output in boolean values
10 >= 11

False

In [9]:
# <= It compares both value and give output in boolean values
10 <= 11

True

In [11]:
# > It compares both value and give output in boolean values
10 > 11

False

In [12]:
# < It compares both value and give output in boolean values
10 < 11

True

In [13]:
### Check if the number entered from the user is greater than 99 or not:
num = int(input("Enter the number"))
if(num > 99):
    print("Number is Greater than 99")
else:
    print("Number is smaller than 99")

Enter the number 50

Number is smaller than 99

In [16]:
### Check if the number entered from the user is greater than 99 or not:
num = int(input("Enter the number"))
if(num > 99):
    print("Number is Greater than 99")
else:
    print("Number is smaller than 99")

Enter the number 999

Number is Greater than 99

In [18]:
# elif Statement
num = int(input("Enter the number"))
if(num > 1000):
    print("Number is Greater than 1000")
elif(num > 10):
    print("Number is Greater than 100")
else:
    print("Number is smaller than 100")

Enter the number 100

Number is Greater than 100

In [24]:
# elif Statement
num = int(input("Enter the number"))
if(num == 1000):
    print("Number is Equal to 1000")
elif(num > 1000):
    print("Number is Greater than 1000")
elif(num == 100):
    print("Number is Equal to 100")
elif(num > 100):
    print("Number is Greater than 100")
else:
    print("Number is smaller than 100")

Enter the number 999

Number is Greater than 100

In [34]:
# Logical Operators
# Write a program to record the age of visitor and allows him to an exclusive children's day party hosted by Mr Obama only 
## if he or she is above 60 years or below 18 years of age

age = int(input("Enter the age of Visitor"))
if(age < 18 or age > 60):
    print("Welcome to the party. Have Fun!")
else:
    print("Sorry, You are not eligible for the party")

Enter the age of Visitor 17

Welcome to the party. Have Fun!

In [35]:
### Write an program which offers discount based on purchase bills. 

shoppinng_total = 550

if shoppinng_total >= 500:
    print("You won a discount voucher of flat 15% on next purchase")
elif shoppinng_total >= 250:
    print("You won a discount voucher of flat 10% on next purchase")
elif shoppinng_total >= 100:
    print("You won a discount voucher of flat 5% on next purchase")    
else:
    print("OOPS!! no discount for you!!!")

You won a discount voucher of flat 15% on next purchase

In [36]:
world_cups = {2019 : ['England', 'New Zealand'], 2015:["Australia", "New Zealand"], 2011 : ["India", "Sri Lanka"], 2007: ["Australia", "Sri Lanka"], 2003: ["Australia", "India"]}

year = int(input("Enter year to check New Zealand made it to Finals in 20th century : "))

if year in world_cups :
    if "New Zealand" in world_cups[year] :
        print("New Zealand made it to Finals")
    else:
        print("New Zealand could not make it to Finals")
        
else:
    print("World cup wasnt played in", year)

Enter year to check New Zealand made it to Finals in 20th century :  2019

New Zealand made it to Finals

In [40]:
#Loops and iteration
#check if the pin entered by the user is correct of invalid

pin = input("Enter the 4 digit pin")
while pin != '1234':
    pin = input("!Invalid Pin. Try again")
print("Pin validation Successful")

Enter the 4 digit pin 5242
!Invalid Pin. Try again 6852
!Invalid Pin. Try again 1645
!Invalid Pin. Try again 1234

Pin validation Successful

In [53]:
# Lets try to add max of 3 tries and if user fails to identify . we will print a message of attempted tries

attempt = 0
max_attempt = 3
correct_pin = '1234'
while attempt < max_attempt:
    pin = input("Enter the 4 digit pin: ")
    if(pin == correct_pin):
        print("Pin Validation Successfull")
        break
    else:
        attempt += 1
        if attempt < max_attempt:
            print(f"!Invalid Pin. You have {max_attempt - attempt} tries left.")
        else:
            print("Maximum attempts reached. You have been locked out.")

Enter the 4 digit pin:  1234

Pin Validation Successfull

In [56]:
# for loop
# iterate over a list of integers
a = [1,2,3,4,5,6,7,0]
for var in a:
    print(var)

1
2
3
4
5
6
7
0

In [60]:
# for loop
# iterate over a list of string
a = "One Piece is the best anime in the world"
for var in a:
    print(var,end=':')

O:n:e: :P:i:e:c:e: :i:s: :t:h:e: :b:e:s:t: :a:n:i:m:e: :i:n: :t:h:e: :w:o:r:l:d:

In [61]:
# for loop
# iterate over a list of string
a = "One Piece is the best anime in the world"
for var in a:
    print(var)

O
n
e

P
i
e
c
e

i
s

t
h
e

b
e
s
t

a
n
i
m
e

i
n

t
h
e

w
o
r
l
d

In [67]:
# Iterating over dictionary

student_data = {1:["deepak",10],2:["Juhi",15],3:["Harshita",29],4:["Kalpana",40],5:["Robert Downy Jr",3000]}
student_data
for key, val in student_data.items():
    print(key, val)

1 ['deepak', 10]
2 ['Juhi', 15]
3 ['Harshita', 29]
4 ['Kalpana', 40]
5 ['Robert Downy Jr', 3000]

In [69]:
# range
for i in range(1,5):
    print(i,end = ',')

1,2,3,4,

In [73]:
list1 = [1,4,2,6,4,7,8]

for i in range(len(list1)):
    print(list1[i])

1
4
2
6
4
7
8

In [74]:
print(list(range(1,100,2))) # print range of 1 to 100 with a skip step of 2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [75]:
print(list(range(100,1,-3)))

[100, 97, 94, 91, 88, 85, 82, 79, 76, 73, 70, 67, 64, 61, 58, 55, 52, 49, 46, 43, 40, 37, 34, 31, 28, 25, 22, 19, 16, 13, 10, 7, 4]

In [ ]:
# Write a program to print number from 1 to 20:

for i in range(1,20):

In [76]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# List to store prime numbers
prime_numbers = []

# Loop through numbers from 1 to 20
for number in range(1, 21):
    if is_prime(number):
        prime_numbers.append(number)

print("Prime numbers between 1 and 20:", prime_numbers)

Prime numbers between 1 and 20: [2, 3, 5, 7, 11, 13, 17, 19]

In [78]:
li = ["Arun","Deepak","Joker","Mohit","Shubham","Chahat"]
li

['Arun', 'Deepak', 'Joker', 'Mohit', 'Shubham', 'Chahat']

In [80]:
l2 = []
for word in li:
    l2.append(len(word))
    
l2

[4, 6, 5, 5, 7, 6]

In [82]:
# Functional Approach:
# List Comprehension
L2 = [len(word) for word in li]
l2

[4, 6, 5, 5, 7, 6]

In [83]:
# iterating over li and l2 simutaneously

for i,j in zip(li,l2):
    print(i," - ", j)

Arun  -  4
Deepak  -  6
Joker  -  5
Mohit  -  5
Shubham  -  7
Chahat  -  6

In [84]:
## dicionary comrehension
d = {word:len(word) for word in li}
d

{'Arun': 4, 'Deepak': 6, 'Joker': 5, 'Mohit': 5, 'Shubham': 7, 'Chahat': 6}

In [93]:
# Set Comprehension
# Write a program which takes a word as input from user and returns vowels from the word 
word = input("Enter a word: ")
vowels = {char for char in word if char in "aeiouAEIOU"}
vowels

Enter a word:  dEEPAK

{'A', 'E'}

In [92]:
word = input("Enter a word: ")
vowels = {char for char in word if char in "aeiouAEIOU"}
vowels

Enter a word:  DEEPAK

{'A', 'E'}

In [97]:
# Functions
# write a function that takes a value and return its factorial

def factorial_func(n):
    fact = 1
    for i in range(1,n+1):
        fact = fact*i
    return(fact)
factorial_func(5)

120

In [99]:
# Default Parameters

def greet(name, age=25):
    print(f"Hello, {name}. You are {age} years old.")

# Calling the function with one argument
greet("Bob")  # Outputs: Hello, Bob. You are 25 years old.

# Calling the function with both arguments
greet("Alice", 30)  # Outputs: Hello, Alice. You are 30 years old.

Hello, Bob. You are 25 years old.
Hello, Alice. You are 30 years old.

In [100]:
#Keyword Argument
def greet(name, age):
    print(f"Hello, {name}. You are {age} years old.")

# Calling the function with keyword arguments
greet(age=30, name="Charlie")  # Outputs: Hello, Charlie. You are 30 years old.

Hello, Charlie. You are 30 years old.

In [101]:
# Positional Argument
def greet(name, age):
    print(f"Hello, {name}. You are {age} years old.")

# Calling the function with positional arguments
greet("Alice", 30)  # Outputs: Hello, Alice. You are 30 years old.

Hello, Alice. You are 30 years old.

In [104]:
# Variable-Length Parameters
def var_func(*args):
  print(args)

var_func(1,2,3,4,"abs")

(1, 2, 3, 4, 'abs')

In [105]:
# Variable-Length Parameters
def add(*args):
    return sum(args)

# Calling the function with multiple arguments
print(add(1, 2, 3))  # Outputs: 6
print(add(10, 20, 30, 40, 50))  # Outputs: 150

6
150

In [110]:
# Lambda Functions:

f = lambda x: "Even" if x % 2 ==0 else "odd"
f(int(input("Enter the number :")))

Enter the number : 56

'Even'

In [113]:
# map Function
l1 = ["Deepak","Juhi","Harshita","Abhishek","Kalpana"]
def upper1(n):
     return n.upper()
l2 = map(upper1,l1)
print(list(l2))

['DEEPAK', 'JUHI', 'HARSHITA', 'ABHISHEK', 'KALPANA']

In [128]:
# Filter function
natural_number = [1,3,24,5,65,4,3,12,3,4,6,7,5]
def iseven(n):
    return n%2==0
new = list(filter(iseven, natural_number))
new

[24, 4, 12, 4, 6]

In [149]:
## Write a program to count the students with age above 18
# lets define a dictionary
dict1 = {1:["Deepak",20],2:["Juhi",20],3:["Kalpana",19],4:["Gopal",5],5:["Abhishek",16],6:["Arun",18]}
values = [val[1] for val in dict1.values()]
def plus18(n):
    return n > 18
new = list(filter(plus18,values))
print(len(new))

3

In [154]:
from functools import reduce
l5 = [1,4,2,3,5]
mul = reduce(lambda x,y : x*y,l5)
print(mul)

120